@model UserModel

<tr class="user-row">
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.Email</td>
    <td>
        <a href="/Admin/Users/Details/@Model.Id" class="btn btn-sm btn-info">View</a>
        <a href="/Admin/Users/Edit/@Model.Id" class="btn btn-sm btn-warning">Edit</a>
        <button class="btn btn-sm btn-danger" onclick="deleteUser(@Model.Id)">Delete</button>
    </td>
</tr>
