.vscode/**
.vscode-test/**
src/**
src/test
out/test
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test-scripts/**
sample/**
node_modules
out/
src/
webpack.config.js
esbuild.js

# Generated package
*.vsix