@model ProductModel

<div class="product-card">
    <h4>@Model.Name</h4>
    <p class="price">$@Model.Price</p>
    <p class="description">@Model.Description</p>
    <button class="btn btn-primary">Add to Cart</button>
</div>
