<div class="navigation-partial">
    <h4>Get Nav Partial</h4>
    <p>This partial view matches the action name 'GetNavPartial' for parameterless PartialView() calls.</p>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</div>
