@model UserModel

<div class="user-form">
    <h4>Get User Form (Area Admin)</h4>
    <p>This partial view matches the GetUserForm action name in the Admin area.</p>
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="@Model?.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="@Model?.Email" class="form-control" />
        </div>
    </form>
</div>
