@model List<CommentModel>

<div class="comments-section">
    <h4>Comments</h4>
    @if (Model != null && Model.Any())
    {
        @foreach (var comment in Model)
        {
            <div class="comment">
                <strong>@comment.Author</strong>
                <span class="comment-date">@comment.Date.ToString("MMM dd, yyyy")</span>
                <p>@comment.Text</p>
            </div>
        }
    }
    else
    {
        <p>No comments yet.</p>
    }
</div>
