<div class="demo-partial">
    <h3>Demo Partial View</h3>
    <p>This is a partial view that demonstrates PartialView() navigation.</p>
    <p>You should have been able to Ctrl+click on "_DemoPartial" in the DemoController.PartialExample action to navigate here.</p>
</div>
