@{
    ViewData["Title"] = "Custom View Name";
}

<h2>Custom View Name</h2>
<p>This view demonstrates explicit view name navigation.</p>
<p>You should have been able to Ctrl+click on "CustomViewName" in the DemoController.ExplicitView action to navigate here.</p>
