@{
    ViewData["Title"] = "Parameterless Partial";
}

<h2>Parameterless Partial View</h2>
<p>This view demonstrates parameterless PartialView() navigation.</p>
<p>You should have been able to Ctrl+click on "PartialView" (the method name) in the DemoController.ParameterlessPartial action to navigate here.</p>
